@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

section {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div img {
    width: 8%; /* you can use % */
    height: auto;
    filter: grayscale(100%);
    position: absolute;
    top: 2%;
    left: 1%;

}

nav {
    font-family: "Montserrat", sans-serif;
}

.navMenu {
    position: absolute;
    top: 5%;
    left: 84%; 
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.navMenu a {
    color: whitesmoke;;
    text-decoration: none;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 500;
    display: inline;
    width: 100px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    padding-left:5px;
    padding-right:5px;
}

.navMenu a:hover {
    color: #FDBB30 ;
}

.title {
    margin-top: 300px;
    font-family: roboto;
    font-size: 80px;
    display: grid;
    align-content: center;
    place-items: center;
    text-align: center;
    min-height: 100%;
    color: whitesmoke;
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

body {
    background-image: url(Images/bwPacersWallpaper.jpeg);
    background-size: cover;
  }
  